body, html {
  font-family: 'Ubuntu', sans-serif !important;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.mdl-layout__header {
  background-color: #404040 !important;
  color: white;
}

.mdl-layout__drawer-button {
  color: #ffcc33 !important;
}

.mdl-layout__drawer-button:hover {
  color: #477AB5 !important;
}

.navbar_link {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #ffcc33 !important;
}

.navbar_link:hover {
  color: #477AB5 !important;
}

#loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
}

.drawer_link {
  font-size: 18px !important;
}

.color-yellow {
  color: #ffc107 !important;
}

.main {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #ecebe8;
  padding-bottom: 15px;
}

.player-box {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 420px;
  position: relative;
}

.news-box {
  width: 100%;
  background: white;
  height: 420px;
  margin-right: 40px;
}

.news-logo {
  text-align: center;
  font-size: 25px;
  background-color: #404040;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.news-items {
  padding-top: 5px;
  height: 385px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  padding-right: 5px;
}

.news-item {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.news-item a {
  color: #9E9E9E;
  text-decoration: none;
  font-size: 17px;
}

.news-item a:hover {
  text-decoration: underline;
}

.control-box {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.control_btn {
  margin-left: 7px;
  margin-right: 7px;
  color: white;
  background-color: #ffc107;
}

.control_btn:hover {
  color: white;
  background-color: #477AB5;
}

.loading-image {
  margin-top: 35vh;
  margin-bottom: 20px;
}

.personality-choice {
  width: 100%;
  height: 400px;
}

.personality-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #ffc107;
  border-radius: 100px;
  height: 34px;
}

.personality-btn:hover {
  background-color: #477AB5;
}

.sub-text {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.sub-text p {
  padding-top: 0px;
  color: #404040;
  font-size: 15px;
}

.personality-choice-mobile {
  margin-top: 10px;
  text-align: center;
}

.news-m-container {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media screen and (min-width: 1025px) {
  .mdl-layout__drawer-button {
    display: none !important;
  }
  .m-only {
    display: none !important;
  }
}

@media screen and (max-width: 1025px) {
  .navbar_link {
    display: none !important;
  }
  .l-only {
    display: none !important;
  }
  .main {
    width: 90%;
  }
}

@media screen and (min-width: 846px) {
  .personality-choice-mobile {
    display: none;
  }
}

@media screen and (max-width: 845px) {
  .personality-choice-large {
    display: none;
  }
  .control-box {
    margin-bottom: 20px;
  }
  .personality-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    padding: 10px;
  }
  .main {
    padding-bottom: 130px;
  }
  .news-l {
    display: none;
  }
}
